
.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
} 

.sider-bar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.sider-bar-link:hover{
    background-color: rgb(228, 225, 225);
    cursor: pointer;
}

.sider-bar-link img{
    height: 24px;
    margin-bottom: 6.5px;
}

.sider-bar-link div{
    font-size: 10px;
}